* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
header h1 {
    display: inline;
    font-size: 32px;
}

a {
    text-decoration: none;
   }

header img {
    padding-left: 24px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 16px;
    font-size: 32px;
    padding-right: 24px;
}

.hero img {
    padding: 32px 24px;
    position:relative;
}

